spring:
  application:
    name: momopetshop

  profiles:
    active: local

  datasource:
    url: jdbc:mysql://localhost:3306/db_petshopkasir?useSSL=false&serverTimezone=Asia/Jakarta
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

  server:
  port: 8080










